.card {
    margin-bottom: 15px;
}
.card-title{
    margin-bottom: 15px;
    color: rgb(255, 208, 1); 
}


p {
    text-align: justify;
}

tr {
    text-align: center;
}

.table-primary th {
    background-color: rgb(62, 70, 104); 
    color:white;
}

#search {
    float: right;
}

.container{
    background: linear-gradient(0deg, rgb(52, 139, 214) 0%, rgb(239, 253, 253) 100%);
    padding: 20px 20px 0 20px;
    
}

.img-nelly {
    width: 100px;
    position: absolute;
}
.img-nelly-top {
    
    left: -69px;
    top: -29px;
}

.img-nelly-left {
    right: -30px;
    top: -29px;
}

.img-nelly-bot {
    left: -30px;
    bottom: -49px;
}

.img-nelly-right-bot {
    width: 300px;
    right: -120px;
    bottom: -60px;
    z-index:1
}

.img-nelly-top-top {
    top: -20px;
    right: -70px;
  
}

.img-nelly-top-left {
    top: -20px;
    left: -60px;

}



